@import url('https://fonts.googleapis.com/css?family=Mukta:100,200,300,400,500,600,700|sans-serif:100,200,300,400,500,600,700');

/*----------Special Padding / Margin / Text----------*/

.row {
    margin-left: 0;
    /*helps remove unecessary white space on right vertical*/
    margin-right: 0;
    /*as above*/
}

ul {
    /* removes bullet points from unordered list */
    list-style-type: none;
}

h1,
h2 {
    text-transform: uppercase;
    text-align: center;
}

h6 {
    /*Custard Yellow*/
    color: #FBF27C;
}

.gallery {
    color: #FFF;
}

.listen-up,
.just-released {
    /*Headline news containers formatting on index.html page*/
    font-size: 1.25rem;
    border: 1px solid #FBF27C;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin: 0.8rem;
    box-shadow: 0 4px 8px 0 rgba(251, 242, 124, 0.9), 0 6px 20px 0 rgba(251, 242, 124, 0.9);
}

.listen-up p::first-letter {
    /*Headline story 1st letter of the paragraph text formatted to stand out to user*/
    font-size: 2rem;
    font-style: oblique;
}

.hey-hey,
.gig-type {
    /*Booking events containers formatting on eventsandtickets.html page*/
    font-size: 1rem;
    color: #FFF;
    border: 1px solid #D41E87;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin: 0.8rem;
    box-shadow: 0 4px 8px 0 rgba(212, 30, 135, 0.9), 0 6px 20px 0 rgba(212, 30, 135, 0.9);
}

.center {
    /*centres text in celebration image under events and tickets page*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.4rem;
    font-weight: 500;
    color: #FFF;
}

.sold-out { 
    /*Function replaces deprecated strike element and marks sold out concerts*/
    text-decoration: line-through;
}

.backstory {
    font-size: 1.15rem;
}

.backstory p::first-letter {
    /*Background story 1st letter of each paragraph formatted to stand out to user*/
    font-size: 2rem;
    font-style: oblique;
    color: #FBF27C;
}

/*---------------Colours--------------*/

/* #587E7F - Duck Egg Blue */

/* #FBF27C - Custard Yellow */

/* #5C835A - Sage Green */

/* #305C5C - Dark Green */

/* #CED4DA - Light Grey */

/* #000 - Black (used for text) */

/* #FFF - White (used for text) */

/*--Colours for Booking The Monkees--*/

/* #850D55 - Deep Purple */

/* #D41E87 - Dark Pink */

/*------------Navbar----------------*/

.nav-link {
    transition: 0.3s ease;
    background: #FFFFFF;
    color: #587E7F;
    font-size: 1.25rem;
    text-decoration: none;
    border-top: 0.0625rem solid #5C835A;
    border-bottom: 0.0625rem solid #5C835A;
    padding: 1.25rem 0;
    margin: 0 1.25rem;
}

.nav-link:hover {
    border-top: 0.25rem solid #587E7F;
    border-bottom: 0.25rem solid #587E7F;
    padding: 0.375rem 0;
    font-weight: 400;
}


/*-------------Images------*/

#main-image {
    position: relative;
    width: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horizontal centering of the 
    group image design*/
}

#video-image {
    position: relative;
    width: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horizontal centering of the 
    group image design*/
}

#heyhey-image {
    position: relative;
    width: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    group image design*/
}

#eventandticket-image {
    position: relative;
    width: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    group image design*/
}

#celebration-image {
    position: relative;
    width: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    group image design*/
}

/*-------------Containers-------------*/

#tour-dates,
#tickets,
#discography,
#moments {
    background-color: #FBF27C;
    /*Custard Yellow*/
}

#headline-news {
    background-color: #305C5C;
    /*Dark Green*/
    color: #FBF27C;
    /*Custard Yellow*/
}

#backstory,
#music {
    background-color: #5C835A;
    /*Sage Green*/
}

.card-style {
    /* Latest tour date cards on home page with sage green shadow border */
    border: 0.1rem solid #5C835A;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    margin: 0.5rem;
    max-width: 18.125rem;
    box-shadow: 0 4px 8px 0 rgba(92, 131, 90, 0.8), 0 6px 20px 0 rgba(92, 131, 90, 0.8);
}

#bookings {
    background-color: #850D55;
    /*Deep Purple*/
}

/*-------------Music--------------*/

.sound-control {
    width: 80%;
    max-width: 20.625rem;
    margin-top: 1.25rem;
}

.singles-cover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-Discography & HeyHey Carousel-*/

.album-cover-disco,
.heyhey {
    /*Box shadow images held on carousels in both music.html & heyhey.html files*/ 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*------------Band Carousel-----------*/

* {
    box-sizing: border-box
}

/* Slideshow container */

.slideshow-container {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    group image design*/
}

.mySlides {
    /* No cursor appears when hovered over carousel images */
    cursor: none;
}

/* Container for image text */

.caption-container-music {
    font-family: Mukta, sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    max-width: 25rem;
    background-color: #222;
    padding-top: 0.75rem;
    padding-bottom: 0.0625rem;
    color: #FFF;
}

.caption-container-heyhey {
    font-family: Mukta, sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    max-width: 37.5rem;
    background-color: #222;
    padding-top: 0.75rem;
    padding-bottom: 0.0625rem;
    color: #FFF;
}

/* The dots/bullets/indicators that support carousel design */

.dot {
    cursor: pointer;
    height: 0.9375rem;
    width: 0.9375rem;
    margin: 0 0.125rem;
    background-color: #587E7F;
    /*Duck Egg Blue*/
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots-circles {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.active,
.dot:hover {
    background-color: #FBF27C;
    /*Custard Yellow*/
}

/* Fade animation used on images that appear in carousel design */

/* in both music.html and heyhey.html pages */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    /*Timing allows user to read narrative*/
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*---------------Footer---------------------*/

#footer {
    background-color: #305C5C;
    /*Dark Green*/
    border-color: #305C5C;
    /*Dark Green*/
}

.footer-text li a {
    font-size: 1rem;
    font-weight: 400;
    color: #FBF27C;
    /*Custard Yellow*/
}

.lower-footer {
    color: #FBF27C;
    /*Custard Yellow*/
}

/*---------------Social Media---------------*/

/* To include styling for social media fonts > font awesome */

.fa-facebook,
.fa-twitter,
.fa-youtube,
.fa-instagram,
.fa-spotify {
    background-color: #FBF27C;
    /* custard yellow */
    font-size: 2.5rem;
    color: #305C5C;
    /*Dark Green*/
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

.fa-facebook:hover {
    background: #3b5998;
    /*Facebook Blue*/
    color: #ffffff;
}

.fa-twitter:hover {
    background: #55ACEE;
    /*Twitter Blue*/
    color: #ffffff;
}

.fa-youtube:hover {
    background: #E62117;
    /*Youtube Red*/
    color: #ffffff;
}

.fa-instagram:hover {
    background: #8a3ab9;
    /*Instagram Purple*/
    color: #ffffff;
}

.fa-spotify:hover {
    background: #1ED760;
    /*Spotify Green*/
    color: #ffffff;
}

/*-------------Modal---------*/

.input-group-addon {
    /* Font awesome 5 icons given improved space */
    width: 2.125rem;
    border: 1px solid #CED4DA;
    /*light grey border*/
    align-items: center;
}

.input-group-addon-tickets {
    /* Ticket narrative enhanced in modal form */
    width: 4rem;
    padding: 0.375rem;
    border: 1px solid #CED4DA;
    /*light grey border*/
    text-align: center;
    font-weight: 600;
}

.fa-envelope,
.fa-lock,
.fa-user,
.fa-calendar-alt {
    /* Increase size of FontAwesome 5 icons */
    font-size: 1.5rem;
    color: #850D55;
    /*Deep Purple*/
}

.fa-envelope-square,
.fa-key {
    /* Increase size of FontAwesome 5 icons */
    font-size: 1.5rem;
    color: #587E7F;
    /*Duck Egg Blue*/
}

/*---------------Buttons--------------*/

.btn-check,
.btn-order,
.btn-booking {
    /*Buttons used for checking availability & ordering concert tickets*/
    background-color: #FFFFFF;
    /*White*/
    border: 0.1rem solid #587E7F;
    /*Duck Egg Blue*/
    color: #587E7F;
    font-weight: 600;
    cursor: pointer;
    /* Add a mouse pointer on hover */
}

.btn-check:hover,
.btn-order:hover,
.btn-booking:hover {
    background-color: #587E7F;
    /*Duck Egg Blue*/
    border: 0.1rem solid #587E7F;
    color: #FAFAFA;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-gig,
.btn-booked {
    /*Buttons used for making a booking enquiry and confirmed booking of The Monkees*/
    background-color: #FFFFFF;
    /*White*/
    border: 0.1rem solid #D41E87;
    /*Dark Pink*/
    color: #D41E87;
    font-weight: 600;
    cursor: pointer;
    /* Add a mouse pointer on hover */
}

.btn-gig:hover,
.btn-booked:hover {
    /*Button changes to deep pink colour upon hover of the cursor*/
    background-color: #D41E87;
    /*Dark Pink*/
    border: 0.1rem solid #D41E87;
    color: #FAFAFA;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*--------------Media Queries---------*/

@media screen and (max-width: 375px) {
    /*mobile*/
    .album-cover-disco img,
    .heyhey {
        /* Reduce album & band image size for mobile devices */
        height: auto;
        max-width: 18.75rem;
    }
    .caption-container-music,
    .caption-container-heyhey {
        /* Reduce caption width for mobile devices */
        max-width: 18.75rem;
        padding: 0.625rem;
    }
    .dot {
        /* Reduce dot size for carousel indicator for mobile devices */
        height: 0.8rem;
        width: 0.8rem;
    }
    .center {
        /* Reduce font size for event booking text */
        font-size: 1.15rem;
    }
}

@media screen and (min-width: 376px) and (max-width: 767px) {
    /*mobile*/
    .center {
        /* Reduce font size for event booking text */
        font-size: 1.15rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    /*mobile*/
    .center {
        /* Reduce font size for event booking text */
        font-size: 3.15rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1415px) {
    /*desktop*/
    .center {
        /* Reduce font size for event booking text */
        font-size: 3.65rem;
    }
}
