@import url('https://fonts.googleapis.com/css?family=Mukta:100,200,300,400,500,600,700|sans-serif:100,200,300,400,500,600,700');

/*----------Special Padding / Margin / Text----------*/

ul {
  /* removes bullet points from unordered list */
  list-style-type: none;
}

h6 {
    color: #FBF27C;
}


/*---------------Colours--------------*/

/*------------Navbar----------------*/

.nav-link {
  transition: 0.3s ease;
  background: #FFFFFF;
  color: #587E7F;
  font-size: 1.25rem;
  text-decoration: none;
  border-top: 0.0625rem solid #5C835A;
  border-bottom: 0.0625rem solid #5C835A;
  padding: 1.25rem 0;
  margin: 0 1.25rem;
}

.nav-link:hover {
  border-top: 0.25rem solid #587E7F;
  border-bottom: 0.25rem solid #587E7F;
  padding: 0.375rem 0; 
  font-weight: 400;
}


/*-------------Images------*/

#main-image {
    position: relative;
    width: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horizontal centering of the 
    group image design*/
}

.heyhey-image {
    position: relative;
    height: 80vh;
    background: url(../myimages/heyhey.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    group image design*/
}

.eventsandtickets-image {
    position: relative;
    height: 80vh;
    background: url(../myimages/eventsandtickets.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    group image design*/
}

.celebration-image {
    position: relative;
    height: 60vh;
    background: url(../myimages/celebration.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    group image design*/
}

/*-------------Containers-------------*/

.main-image-container {
    padding: 0;
}

.main-video-container {
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
}

.timeline-container {
    padding: 10px;
    margin: 0px;
}

.album-container {
    padding: 10px;
    margin: 0px;
}

.music-container {
    margin: 40px 0;
}

/*----------------Video---------------*/

.video-notice {
    margin: 5px;
    padding: 5px;
    font-family: Crimson Text, serif;
    font-variant: small-caps;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    color: #C43232
}

.video-bg {
    background-color: #f7eed4;
    padding-right: 15px;
}

.video-image {
    padding: 10px;
    margin: 10px;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    group image design*/
}

/*-------------Music--------------*/

.music-background h5 {
    margin-top: 5px;
    font-family: Crimson Text, serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.sound-control {
    width: 80%;
    max-width: 330px;
    margin-top: 20px;
}

/*------------Discography----------*/

.album-cover-disco {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.album-cover-image-music {
    Height: 190px;
    Width: 190px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*------------Band Carousel-----------*/

* {
    box-sizing: border-box
}

/* Slideshow container */

.slideshow-container {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    group image design*/
}

.myimages {
    display: none;
}

.dots-circles {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    /*Timing allows user to read narrative*/
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*---------------Footer---------------------*/

#footer {
  background-color: #305C5C;
  /*Dark Green*/
  border-color: #305C5C;
  /*Dark Green*/
}

.footer-text li a {
  font-size: 1rem;
  font-weight: 400;
  color: #FBF27C;
  /*Custard Yellow*/
}

.lower-footer {
  color: #FBF27C;
  /*Custard Yellow*/  
}

/*---------------Social Media---------------*/

/* To include styling for social media fonts > font awesome */

.fa-facebook,
.fa-twitter,
.fa-youtube,
.fa-instagram, 
.fa-spotify {
  background-color: #FBF27C;
  /* custard yellow */    
  font-size: 2.5rem;
  color: #305C5C;
  /*Dark Green*/
  transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

.fa-facebook:hover {
    background: #3b5998;
    /*Facebook Blue*/
    color: #ffffff;
}

.fa-twitter:hover {
    background: #55ACEE;
    /*Twitter Blue*/
    color: #ffffff;
}

.fa-youtube:hover {
    background: #E62117;
    /*Youtube Red*/
    color: #ffffff;
}

.fa-instagram:hover {
    background: #8a3ab9;
    /*Instagram Purple*/
    color: #ffffff;
}

.fa-spotify:hover {
    background: #1ED760;
    /*Spotify Green*/
    color: #ffffff;
}

/*-------------Block Dividers---------*/

/*---------------Buttons--------------*/

.btn-check {
  background-color: #FFFFFF;
  /*White*/
  border: 0.1rem solid #587E7F;
  /*Duck Egg Blue*/
  color: #587E7F;
  font-weight: 600;
  cursor: pointer;
  /* Add a mouse pointer on hover */
}

.btn-check:hover {
  background-color: #587E7F;
  /*Duck Egg Blue*/
  border: 0.1rem solid #587E7F;
  color: #FAFAFA;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.btn-cta {
    border-radius: 50%;
    width: 100px;
    text-align: center;
}

.btn-red {
    color: #fafafa;
    background-color: #C43232;
    border-color: #C43232;
    font-family: Crimson Text, serif;
    font-weight: 300;
}

.btn-green {
    color: #fafafa;
    background-color: #6CB8AC;
    border-color: #6CB8AC;
    font-family: Crimson Text, serif;
    font-weight: 300;
}

.btn-red:hover,

.btn-red:active,

.btn-red:focus,

.btn-red:active:focus {
    background-color: rgb(162, 42, 42);
    /*slight contrast to #C43232 red*/
    border-color: rgb(162, 42, 42);
    /*slight contrast to #C43232 red*/
    color: #fafafa;
}

.book-tickets-details button {
    font-size: 14px;
    font: bold;
}

.check-tickets-details a {
    background-color: #C43232;
    border-color: #C43232;
    color: #fafafa;
    font-family: bangers, cursive;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50%;
    width: 65px;
    text-align: center;
}

.check-tickets-details a:hover,
.book-tickets-details a:hover {
    background-color: #6CB8AC;
    /*Change to green once hovered*/
    border-color: #6CB8AC;
    color: #000000;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

.booking-writeup button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #990099;
    /*lilac*/
    border-color: #990099;
    color: #ffccff;
    font-weight: bold;
    border-radius: 23px;
    width: 120px;
}

.booking-writeup button:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #660066;
    /*purple*/
    border-color: #660066;
    color: #fafafa;
}

/*--------------Media Queries---------*/

